@model IEnumerable<Epic.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="~/Images/@item.PicPath" height="100" width="100" alt="Some Picture"/>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                </td>
            </tr>
        }
    }

</table>
